page-users-manager {
    .center{
        display: table !important;
        width: 100% !important;
        height: 100% !important;
        
        display: table-cell;
        vertical-align:  middle;
        text-align: center;
    }
    .nonDraggableImage{
        -webkit-user-drag: none;
    }    
}
